.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* Warna alert pada form */
.my-alert {
  background-color: rgb(117, 185, 115);
}
/* akhie warna alert pada form */
